<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" >
    <head>
        <script type="text/javascript" src="js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
    </head>
    <body>
        <div style="position: absolute; left: font-size: 20px;">
            <h1>Maze Generator</h1>
            <h2>Porter Libby 2019</h2>
            <span id="maze">
            </span>
        </div>
    </body>
    
</html>
