@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
body{
    background-color: #3CAEA3;
    overflow: hidden;
}

#label{
    transition-duration: 300ms;
    float: left;
    position: absolute;
    z-index: 1;
    background-color: rgba(255,255,255,0.2);
    color: rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
}
h1{

}
h2{

}
h3{
    
}
#label:hover{
    transition-duration: 300ms;
    background-color: rgba(255,255,255,0.95);
    color: rgba(0,0,0,.95);
}


#pattern-container{
    display: inline-block;
    margin-left: -300px;
    margin-right: -400px;
}
#line1{
    background-color: #ED553B;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    width: 2px;
    height: 200px;
    margin-left: 55px;
    margin-top: -45px;
    position: absolute;
}
#line2{
    background-color: #ED553B;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    width: 2px;
    height: 200px;
    margin-left: 55px;
    margin-top: -55px;
    position: absolute;
}
#color{
    width: 100px;
    height: 100px;
    background-color: #F6D55C;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    position: absolute;
}
#color2{
    width: 100px;
    height: 100px;
    background-color: #F6D55C;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    position: absolute;
}
#block{
    width: 142px;
    height: 142px;
    display: inline-block;
    margin-top: -5px;
    margin-left: -6.5px;
}